<log4net>
<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
</appender>
<appender name="SNMP2Appender" type="Monitor.Extentions.SNMP2Appender,monitor">
    <Threshold value="Monitor"/>
    <OIDprefix value="1.3.1.1.1." />
    <community value="public"/>
    <enterprise value=".1.3.6.1.4.1.1"/>
    <serverip value="127.0.0.1"/>
    <serverport value="162"/>
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
    </layout>
</appender>
   <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="SNMP2Appender" />
  </root>
</log4net>